params.chipF = "$baseDir/input/example.narrowPeak.gz"
params.genomeRef = "~/work/Data/hg19.fa"
singularity.enabled = true


process{
    withName: runRscript {
        cpus=2
        executor = 'local'
    }
}

// this is to run on a HPC with PBS
// process{
//     withName: runRscript {
//         cpus=2
//         executor = 'pbs'
//         queue = 'short'
//         memory = '10GB'
//     }
// }
